h1,h2,h3,h4,h5{
  font-family: 'Sora', sans-serif;
  color: #fdfaf6;
  font-size: 3rem;
  
}
p{
   font-family: 'Cutive Mono', monospace;
   color: #3C3D40;
}
a{
  font-family: 'Montserrat', sans-serif;
  color: #3C3D40;

}
body{
  background-color: #E3CCCC ;
}

#body{
  padding: 1% 10%;
}
#heading{
  padding: 3%;
}
