
        
        body{
          margin: 0px;
          background-color:#343434 ;
          text-align: center;
          font-family:'Playfair Display', serif;
          color: #b9d2d2;
        }
		p{
			font-family:'Playfair Display', serif;
          color: #b9d2d2;
		}
        .himg{
          height: 500%;
          width: 1000%t;

        } 
        .nav-brand{
      font-family: 'Playfair Display', serif;
    }
    .image-effect{
      margin: 0;
      padding: 0;
      display: inline-block;
      overflow: hidden;
      position: relative;
    }
    .image-effect > img{
      width: 100%;
      max-width: 100%;
    }
    .image-effect{
      filter: grayscale(100%);
      transition: filter 0.5s ease-in-out;
    }
    .image-effect:hover{
      filter: grayscale(0%);
    }

    hr{
                
         width: 5%;
        border-style: none;
        border-top: dotted;
        border-color: #ff5722;
        border-width: 10px
        }
     
           h1{
        font-size: 5rem;
        margin: 50px auto 0px auto;
        color: #e14594;
        line-height: 3rem;
        }
      h2{
        font-family:'Playfair Display', serif ;
        color:#ed6363;
        
      }    
      h3{
        font-family:'Playfair Display', serif ;
        color:#eeeeee;
        
  
      } 
      a{
        color: #eeeeee;
      }
      .skill-row{
        margin: 100px auto 100px auto;
        width: 50%;
        text-align: left;
        line-height: 2;
       }
      
      .code-img{
        width: 25%;
        float: left;
        margin-right: 30px;

      }
      .skill-img{
        width:25%;
        float: right;
        margin-left: 30px;
        border-radius: 100%;

      }
      .contact-me{
        background-color: #62a388;
        margin: auto;
        }
      .bottom-container{
        background-color: #62a388;
        margin: auto;

     }
     

    

       
